.layout {
  min-height: 100vh;
}

.container {
  display: block;
}

.mainContent {
  margin-left: 300px;
  padding: 3rem;
  min-height: 100vh;
}

@media (max-width: 1024px) {
  .mainContent {
    margin-left: 0;
    padding: 1.5rem;
  }
}
