:root {
  background-color: #252e40;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.sidebar {
  background-color: #0d131b;
  color: #e0e7e9;
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;
  height: 100vh;
}

#sidebartitle {
  font-size: 2rem;
  margin-top: 3rem;
}

.picprofileimg {
  margin-top: 2rem;
  object-fit: cover;
}

.sidebar a {
  margin-top: 2rem;
  display: block;
  font-size: large;
  font-weight: 900;
  color: white;
}

.sidebar a:hover {
  transform: scale(1.3);
  color: #3498db;
}
